.homeContainer {
  height: 80vh;
}

.background {
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background-size: 100%100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.weatherContainer {
  display: flex;
  justify-content: center;
}

.weatherConditions {
  width: 60%;
  margin-top: 2.5rem;
  box-shadow: rgb(0 0 0 / 60%) 5px 5px 10px;
  border-radius: 8px 8px 8px 8px;
  background-color: white;
}
