.container {
  width: 100%;
  background-color: rgb(126, 167, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.city {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.currentConditionsHeader {
  margin-top: 1rem;
}
